@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .animate-shake {
    animation: shake 0.5s;
  }
  
  @keyframes slide-down {
    0% { transform: translateY(-10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  .animate-slide-down {
    animation: slide-down 0.3s ease-out;
  }